<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Welcome in Virtium
                </h1>
                <small>
                    It is an application skeleton for a typical web app. You can use it to quickly bootstrap your webapp projects and dev environment.
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            Token
        </div>
        <div class="col-lg-9">
            {{token}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            API Locations
        </div>
        <div class="col-lg-9">
            {{apiURL}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            Data
        </div>
        <div class="col-lg-9">
            {{locationData | json}}
        </div>
    </div>
</div>