<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-t-lg">
        <h1>
          Welcome in Virtium
        </h1>
        <small>It is an application skeleton for a typical web app. You can use it to quickly bootstrap your webapp projects and dev environment.</small>
      </div>
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">
      User Information
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th style="width: 200px">API_URL</th>
              <td>{{urlAPIGetway}}</td>
            </tr>
            <tr>
              <th style="width: 200px">Data_Response</th>
              <td>
                <div id="jeAPIG"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
      IoT Device Shadow
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="table-responsive">
            <h2>RestFUL Protocol</h2>
            <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                  <th style="width: 200px">API URL</th>
                  <td>{{ioT.restFul.url}}</td>
                </tr>
                <tr>
                  <th style="width: 200px">Thing Name</th>
                  <td>{{ioT.restFul.thingName}}</td>
                </tr>
                <tr>
                  <th style="width: 200px">Shadow</th>
                  <td>
                    <div id="jeShadowRestFData"></div>
                  </td>
                </tr>
                <tr>
                  <th style="width: 200px">
                    <button (click)="updateIoT()" class="btn btn-sm btn-success" type="button">Update</button>
                  </th>
                  <td>
                    <div id="jeShadowRestF"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-responsive">
            <h2>MQTT Protocol</h2>
            <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                  <th style="width: 200px">Topic</th>
                  <td>{{ioT.mqtt.topic}}</td>
                </tr>
                <tr>
                  <th style="width: 200px">Shadow</th>
                  <td>
                    <div id="jeShadowMQTTData"></div>
                  </td>
                </tr>
                <tr>
                  <th style="width: 200px">
                    <button (click)="updateIoT(true)" class="btn btn-sm btn-primary" type="button">Update</button>
                  </th>
                  <td>
                    <div id="jeShadow"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>