<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          RestFUL Protocol (Thing Name: {{ioT.restFul.thingName}})
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <tbody>
                <!--<tr>
                  <th style="width: 200px">API URL</th>
                  <td>{{ioT.restFul.url}}</td>
                </tr>
                <tr>
                  <th style="width: 200px">Thing Name</th>
                  <td>{{ioT.restFul.thingName}}</td>
                </tr>-->
                <tr>
                  <th style="width: 200px">Current Shadow State</th>
                  <td>
                    <div id="jeShadowRestFData"></div>
                  </td>
                </tr>
                <tr>
                  <th style="width: 200px">New Shadow State</th>
                  <td>
                    <div id="jeShadowRestF"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-footer text-center">
          <button (click)="updateIoT()" class="btn btn-sm btn-success" type="button">Update</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-danger">
        <div class="panel-heading">
          MQTT Protocol (Thing Name: {{ioT.restFul.thingName}})
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <tbody>
                <!--<tr>
                  <th style="width: 200px">Topic</th>
                  <td>{{ioT.mqtt.topic}}</td>
                </tr>-->
                <tr>
                  <th style="width: 200px">Current Shadow State</th>
                  <td>
                    <div id="jeShadowMQTTData"></div>
                  </td>
                </tr>
                <tr>
                  <th style="width: 200px">New Shadow State</th>
                  <td>
                    <div id="jeShadow"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-footer text-center">
          <button (click)="updateIoT(true)" class="btn btn-sm btn-danger" type="button">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>