<div class="wrapper wrapper-content animated fadeInRight">
  <div class="panel panel-danger">
    <div class="panel-heading">
      Thing Shadow - {{thingName}}
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <div id="jeThingState"></div>
        </div>
        <div class="col-md-2 text-center">
          <button (click)="updateIoT()" class="btn btn-sm btn-success" type="button">
            Update 
            <i class="fa fa-long-arrow-right"></i>
          </button>
        </div>
        <div class="col-md-5">
          <div id="jeThingShadow"></div>
        </div>
      </div>
    </div>
  </div>
</div>