<div class="wrapper wrapper-content animated fadeInRight">
  <div class="panel panel-danger">
    <div class="panel-heading">
      Thing Shadow - {{thingName}}
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <div *ngIf="isLoading" class="sk-spinner sk-spinner-three-bounce">
            <div class="sk-bounce1"></div>
            <div class="sk-bounce2"></div>
            <div class="sk-bounce3"></div>
          </div>
          <div [hidden]="isLoading" id="jeThingState"></div>
        </div>
        <div class="col-md-2 text-center">
          <button *ngIf="!isLoading" (click)="updateIoT()" class="btn btn-sm btn-success" type="button">
            Update 
            <i class="fa fa-long-arrow-right"></i>
          </button>
        </div>
        <div class="col-md-5">
          <div *ngIf="isLoading" class="sk-spinner sk-spinner-three-bounce">
            <div class="sk-bounce1"></div>
            <div class="sk-bounce2"></div>
            <div class="sk-bounce3"></div>
          </div>
          <div [hidden]="isLoading" id="jeThingShadow"></div>
        </div>
      </div>
    </div>
  </div>
</div>