<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Devices</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{deviceCount}}</h1>
          <div class="stat-percent font-bold text-info">{{locationCount}} locations</div>
          <small>Total devices</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Device Management Worldwide</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>