<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <h2>Vertium IoT</h2>
    <div [hidden]="!errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <form class="m-t" role="form" action="#" #loginForm="ngForm">
      <div class="form-group">
        <input type="text" [(ngModel)]="login.email" #email="ngModel" name="email" required class="form-control" placeholder="Username or Email">
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="login.password" #password="ngModel" name="password" required class="form-control" placeholder="Password">
      </div>
      <button [hidden]="isLoading" type="submit" (click)="onLogin(loginForm)" class="btn btn-primary block full-width m-b">Login</button>
    </form>
  </div>
</div>